/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 5, 2021, 11:32:05 PM
    Author     : Zaya
*/
@import "//rsms.me/inter/inter.css";

* {
    font-family: "Inter", sans-serif;
}

html,
body,
main {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
main {
  display: flex;
}

main > section {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

main > section > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tab{
    padding: 10px 30px;
    cursor: pointer;
    border: 0;
    outline: none; 
    top: 200px;
    right: 200px;
    font-size: 18px;
    border-radius: 30px;
    transition: .5s;
    background-color: lightpink;
    color: hotpink;
    font-weight: bold;
}

.form{
    top: 180px;
    width: 400px;
    height: 300px;
    right: 100px;
    padding: 40px 20px;
    margin: 6% auto;
    box-sizing: border-box;
    background-image:linear-gradient(to bottom, yellow, pink, lightskyblue);
    border: 3px solid blue;
}

.submit-button, .reset-button{
    width: 75%;
    padding: 10px 30px;
    display: block;
    margin: auto;
    cursor: pointer;
    background-color: lightpink;
    color: hotpink;
    font-weight: bold;
    border: 0;
    outline: 1px solid blue;
    border-radius: 30px;
    transition: .5s;
}

#userName, #signInUserName, #psw, #signInPassword{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid black;
    outline: none;
    background: transparent;
}

.details{
    display:flex;
    justify-content: center;
}

.navigation{
    position: fixed;
    font-size: 12px;
    color: #0F141A;
    float: left;
    padding: 0px 5px ;
    background-color: white;
    height: 100%;
}

.navigation a {
    float: left;
    display: block;
    color: #0F141A;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}

.navigation > button {
    position:absolute;
    bottom: 5%;
    left: 20%;
}

.navigation a:hover {
  background-color: lightpink;
  color: hotpink;
  font-weight: bold;
  border-radius: 30px;
  transition: .5s;
}

.layout{
    display: grid;
    grid-template-columns: 270px auto 450px; 
    margin: 0 auto;
}

.midLayout{
    position:relative; left: -10px; top:2px;
    
}

.rightContent{
    
}

#myMangaList{
    float:next;
}

.anime-list{
    float: left;
    position: relative;
    margin-right: 20px;
    font-size: 12px;
}

#all-forums-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    list-style: none;
}

#all-forums-list li {
    width: 50%;
    width: fit-content;
}

#anime-list, #manga-list, #characters-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
}

.addToMyList, .leaveButton{
    float: left;
    color: #0F141A;
    background-color: #FFC2D1;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-color: lightpink;
}

.addToMyList[disabled], .addToMyList[disabled]:hover {
    float: left;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    background-color:darkgray;
    cursor: none;
    border-radius: 0px;
    transition: 0s;
    font-weight:normal;
    border-color: darkgray;
}

.addToMyList, .leaveButton:hover{
    background-color: lightpink;
    color: hotpink;
    cursor: pointer;
    font-weight: bold;
    border-radius: 30px;
    transition: .5s;
}


#yt-search-results{
    
    
}